# Ignore version control and IDE folders
.git
.gitignore
.vscode
.idea
terraform/
kubernetes/

# DO NOT ignore your source code and configurations!
# If your .dockerignore has a catch-all (*), you must whitelist these:
!election-frontend-wb/
!ElectionAPI_WB/
!deployment/
!migrate.py

